* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(173, 173, 173);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender {
  background-color: black;
  color: aliceblue;
  width: 450px;
  height: 520px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.month {
  width: 100%;
  height: 120px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.month .date h1 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

.date p {
  color: lightslategray;
  margin-top: 5px;
}

.weekdays {
  width: 100%;
  height: 57px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.84);
}

.weekdays div {
  cursor: pointer;
  color: aqua;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekdays div:hover {
  background-color: rgb(30, 29, 29);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.days div {
  background-color: black;
  border: black;
  font-size: 14px;
  margin: 3px;
  width: 57.5px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.days div:hover:not(.empty) {
  background-color: aqua;
  color: lightslategray;
  transition: 400ms;
  cursor: pointer;
}

.days .today {
  background-color: aqua;
  color: lightslategray;
}
